Django
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
google-search-results
googleapis-common-protos
jsonpatch
jsonpointer
langchain
langchain-community==0.0.29
langchain-core
langchain_google_genai
langchain-text-splitters
langsmith
oauthlib
PyPDF2
python-dotenv
python3-openid
PyYAML
requests
requests-oauthlib
social-auth-app-django
social-auth-core
SQLAlchemy
sqlparse
