[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Django-AWSCodePipeline
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/Django-AWSCodePipeline/Project/Project.sock Project.wsgi:application

       
[Install]
WantedBy=multi-user.target