{% extends 'base.html' %}

{% block title %} 
    Talk with PDF
{% endblock title %}

{% block content %}

<h1 class=" ps-4  pt-4">Resume Building Assistant </h1>
<div class=" w-50 " id="container">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       
    <div class="d-block ps-4  ">
        <div class="pb-2 input-group">
            <input
              type="file"
              name="pdf_files"
              class="form-control"
              id="pdf_files"
              aria-describedby="inputGroupFileAddon04"
              multiple
              required
              aria-label="Upload" />
          </div>

          <div class="pb-2 input-group">
            <span class="input-group-text">Ask Question</span>
            <textarea class="form-control" name="user_question" aria-label="With textarea" placeholder="Doubts"></textarea>
        </div>
          <div class="pb-2">
            <button class="btn  btn-outline-primary" type="submit" id="inputGroupFileAddon04">Ask</button>
          </div>
    </div>
        
    </form>
</div>
    {% if response_text %}
        <div class="mt-4 p-4">
            <h2>Response:</h2>
            <p id="response-text" class="lead">{{ response_text|linebreaks }}</p>
        </div>
    {% endif %}
    
{% endblock %}
